openapi: 3.1.0
info:
  title: Mercado Pago REST Payments Preferences API
  description: 'Mercado Pago REST API covering payments, Checkout Pro preferences, and

    subscriptions (preapprovals). All requests authenticate with a Bearer access

    token in the Authorization header.

    '
  version: v1
  contact:
    name: Mercado Pago Developers
    url: https://www.mercadopago.com.ar/developers/en/reference
servers:
- url: https://api.mercadopago.com
  description: Mercado Pago production API
security:
- bearerAuth: []
tags:
- name: Preferences
paths:
  /checkout/preferences:
    post:
      tags:
      - Preferences
      summary: Create a checkout preference (Checkout Pro)
      responses:
        '201':
          description: Preference created
  /checkout/preferences/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Preferences
      summary: Get a checkout preference
      responses:
        '200':
          description: Preference
    put:
      tags:
      - Preferences
      summary: Update a checkout preference
      responses:
        '200':
          description: Updated preference
  /checkout/preferences/search:
    get:
      tags:
      - Preferences
      summary: Search preferences
      responses:
        '200':
          description: Search results
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
      description: 'Mercado Pago access token (ENV_ACCESS_TOKEN). Send as

        "Authorization: Bearer {ACCESS_TOKEN}". HTTPS is required.

        '
